<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.odella.serendipia">

    <application
        android:name="SerendipiaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/serendipia"
        android:label="@string/app_name"
        android:roundIcon="@drawable/serendipia"
        android:supportsRtl="true"
        android:theme="@style/Theme.Serendipia.Start"
        tools:targetApi="31">

        <service
            android:name=".service.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.SelectUserActivity"
            android:exported="true"
            android:theme="@style/Theme.Serendipia.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>